%ul.nav.pull-right
  %li= link_to "Les Soirées MMB", root_path
    = link_to "Mon Compte", new_user_session_path, class:"btn btn-default btn-lg "
    = link_to "Nous rejoindre", new_user_registration_path, class:"btn btn-primary btn-lg "
